<script>
  $(document).ready(function() {
    $('input#input_text, textarea#listing_description').characterCounter();
  });

  M.textareaAutoResize($('.materialize-textarea'))
</script>

<div class="row">
  <%= form_with(model: listing, local: true) do |form| %>
  <form class="col s6">
      <% if listing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

          <ul>
          <% listing.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="input-field cols s6">
          <i class="material-icons prefix">mode_edit</i>
          <%= form.text_field :name, class: "validade" %>
          <%= form.label :name, class: "active"%>
        </div>
      </div>
      <div class="row">
        <div class="input-field cols s6">
          <i class="material-icons prefix">mode_edit</i>
          <%= form.text_area :description, class: "materialize-textarea", 'data-length':120 %>
          <%= form.label :description , class: "active"%>
        </div>
      </div>
      <div class="row">
        <div class="input-field cols s6">
          <i class="material-icons prefix">attach_money</i>
          <%= form.text_field :price, class: "validade"  %>
          <%= form.label :price, class: "active"%>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field cols s6">
          <div class="waves-effect waves-light btn-small">
            <i class="material-icons center">cloud_upload</i>
              <%= form.file_field :images, multiple: true, class: "validade"%>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>
      </div>
      
      <div class="waves-effect waves-light btn">
          <i class="material-icons center">save</i>
          <%= form.submit %>
      </div>
    <% end %>
  </form>
</div>


