<h5>Editing Listing</h5>

<div class="row">
	<div class="col s6">
		<%= render 'form', listing: @listing %>
	</div>
	<div class="col s6" style="padding: 10px">
		<%= render 'images_carousel', listing: @listing %>
	</div>
</div>


<%= link_to @listing do %>
	<i class="material-icons left">description</i>
<% end %> 

<%= link_to listings_path do%>
	<i class="material-icons left">list</i>
<% end %>

<%= link_to @listing, method: :delete, data: { confirm: 'Are you sure?' } do%>
	<i class="material-icons prefix">delete</i>
<% end %>

<br>




