
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col s6">
		<%= render "images_carousel" %>
		<br><br>
		<%= @listing.description %>
	</div>
	<div class="col s6">
  		<p><b><%= @listing.name %></b></p>
  		<p><strong><%= @listing.price %></strong></p>
	</div>
</div>


<%= link_to edit_listing_path(@listing) do%>
	<i class="material-icons prefix">edit</i>
<% end %>
<%= link_to listings_path do%>
	<i class="material-icons prefix">list</i>
<% end %>
