<!DOCTYPE html>
<html>
  <head>
    <title>Etsydemo</title>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => Rails.application.credentials.dig(:strip_test, :publishable_key) %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://s3.amazonaws.com/etsydemo05/images/favicon.ico', :rel => 'icon', :type =>  'image/png' %>
    <%= javascript_include_tag "https://js.stripe.com/v2" %>
    <%= javascript_include_tag "https://js.stripe.com/v3" %>
    
  </head>

  <body>
    <%=render "layouts/header" %>
    <div class="container">

      <% flash.each do |message_type, message| %>
        <% if message_type == "alert" %>
          <%= javascript_tag "M.toast({html: '#{message}', classes: 'toast-error', displayLength: '400000'})" %>
        <% elsif message_type == "notice"%>
          <%= javascript_tag "M.toast({html: '#{message}', classes: 'toast-success', displayLength: '4000'})" %>
        <% else %>
          <%= javascript_tag "M.toast({html: '#{message}', classes: 'toast-warning', displayLength: '40000'})" %>
        <% end %>
      <% end %>
    
      <%= yield %>
      
      <br>
      <%=render "layouts/footer" %>
    </div>
  </body>
</html>
