<!DOCTYPE html>
<html>
  <head>
    <title>Etsydemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://s3.amazonaws.com/etsydemo05/images/favicon.ico', :rel => 'icon', :type =>  'image/png' %>
    
  </head>

  <body>
    <%=render "layouts/header" %>
    <div class="container">

      <% flash.each do |message_type, message| %>
        <% if message_type == "error" %>
          <%= javascript_tag "M.toast({html: '#{message}', classes: 'terror', displayLength: '4000'})" %>
        <% else %>
          <%= javascript_tag "M.toast({html: '#{message}', classes: 'tsuccess', displayLength: '4000'})" %>
        <% end %>
      <% end %>
    
      <%= yield %>
      
      <br>
      <%=render "layouts/footer" %>
    </div>
  </body>
</html>
